html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* navbar */
/* sidebar */

.sidebar {
  width: 8rem;
  height: 100%;
  background: linear-gradient(to bottom left, rgb(33, 55, 82), rgb(32, 50, 75));
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.menu-icon {
  margin-top: 3rem;
  cursor: pointer;
}

.line {
  height: 0.2rem;
  width: 2.5rem;
  background-color: #e0bb74;
  margin-bottom: 0.6rem;
}

.line-1,
.line-3 {
  width: 1.8rem;
  transition: all 0.4s;
}

.menu-icon:hover .line {
  width: 2.5rem;
}

.social-icons-list {
  list-style: none;
  padding: 0px;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.social-link {
  font-size: 2rem;
  color: #777;
  transition: color 0.3s;
}

.social-link:hover {
  color: #e0bb74;
}

.year {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #555;
}

/* end of sidebar */

/* navigation */
.navigation {
  position: fixed;
  left: -32rem;
  width: 40rem;
  height: 100%;
  background: linear-gradient(
      to top,
      rgba(37, 39, 48, 0.9),
      rgba(38, 39, 48, 0.8)
    ),
    url(img/decor.jfif) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: left 0.5s cubic-bezier(0.7, 0.3, 0.3, 0.7);
  z-index: 95;
}

.navigation-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: #f8cd7d;
  text-shadow: 0 0 3px #f0be61;
  text-align: center;
  margin: 0.5rem auto 2rem;
}

.heading-leaf {
  display: block;
  width: 10rem;
  margin: 1.5rem auto 0;
}

.navigation-search {
  position: relative;
}

.navigation-search-input {
  width: 30rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  color: #f8cd7d;
  letter-spacing: 0.1rem;
  outline: none;
  border: 0.1rem solid #555;
  border-radius: 0.6rem;
}

.navigation-search-input:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation-search-btn {
  border: none;
  background-color: transparent;
  color: #a38d65;
  font-size: 1.7rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.navigation-search-btn:focus {
  outline: none;
}

.navigation-list {
  list-style: none;
  padding: 0;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.5s;
}

.navigation-link::before {
  content: "";
  width: 0rem;
  height: 0.1rem;
  background-color: #f8cd7d;
  position: absolute;
  top: 1rem;
  left: -4rem;
  transition: width 0.5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link::after {
  content: "";
  width: 0rem;
  height: 0.1rem;
  background-color: #f8cd7d;
  position: absolute;
  top: 1rem;
  right: -4rem;
  transition: width 0.5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link:hover {
  color: #f8cd7d;
}

.navigation-link:hover::before,
.navigation-link:hover::after {
  width: 3rem;
}

#a {
  animation-duration: 1s;
}
#b {
  animation-duration: 1.5s;
}
#c {
  animation-duration: 2s;
}
#d {
  animation-duration: 2.5s;
}
#e {
  animation-duration: 3s;
}
#f {
  animation-duration: 3.5s;
}

.copyright {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.checkbox:checked ~ .navigation {
  left: 8rem;
}

.checkbox:checked ~ .navigation .navigation-list li {
  animation-name: fade;
  animation-timing-function: ease-in;
}

.checkbox:checked ~ .sidebar .line-1 {
  transform: rotate(-405deg) translate(-5px, 6px);
  width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2 {
  opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3 {
  transform: rotate(405deg) translate(-5px, -6px);
  width: 2.5rem;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* end of navigation */
/* end of navbar */
/* ########################################################### */

/* header */

.header-container {
  display: flex;
  height: 100vh;
  align-items: flex-end;
  margin-left: 8rem;
}

.header-logo-img {
  height: 30%;
  width: 60vw;
  background: linear-gradient(#1c2233, #141824);
  display: flex;
  justify-content: center;
}

.header-logo-img-large {
  width: 80%;
  max-width: 36rem;
  object-fit: cover;
  align-self: center;
}

.header-background-img {
  width: 100vw;
  height: 70%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  background: linear-gradient(
      to bottom,
      rgba(79, 97, 255, 0.2),
      rgba(6, 248, 135, 0.05)
    ),
    url(img/about-us-background.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: 9%;
}

.enclosed-logo {
  display: none;
}

.header-content {
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem 4rem 4rem;
  justify-content: center;
  height: 30%;
  background: linear-gradient(rgb(246, 253, 255), rgb(247, 252, 255));
  position: relative;
  top: 4rem;
}

.header-title {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0 0 0.1rem #333;
}

.header-paragraph {
  font-size: 1.6rem;
  font-style: italic;
}

/* end of header */

/* about-us-info */

.about-us-info-container {
  width: calc(100vw-8rem);
  height: 100%;
  margin-left: 8rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.about-us-info-headings {
  width: 100%;
  height: 20%;
  display: flex;
  background-color: #141824;
}

.info-heading {
  height: 5rem;
  background-color: #fff;
  border: 1px solid rgb(32, 50, 75);
  border-bottom: none;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding: 1rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
  z-index: 10;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  box-shadow: 2px -2px 1.5rem rgba(0, 0, 0, 0.1);
  margin-left: -2rem;
}

#info-heading-hotel {
  margin-left: 0;
}

.info-heading:disabled {
  background-color: rgb(33, 55, 82);
  color: #eee;
}

.about-us-info-details {
  width: 100%;
  border-top: 0.3rem solid rgb(233, 185, 147);
}

.info-select {
  z-index: 60;
  padding: 1rem;
  width: 100%;
  height: 5rem;
  font-size: 1.7rem;
  border: none;
  overflow: hidden;
  color: rgb(202, 176, 89);
  background-color: rgb(20, 34, 51);
  border-radius: 0.5rem;
  outline: none;
  display: none;
  font-family: "Montserrat", sans-serif;
}

option {
  margin: 0.8rem;
}


option:active {
  color: rgb(20, 34, 51);
  background-color: rgb(202, 176, 89);
}

.about-us-content {
  height: min-content;
  padding: 0rem 8rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
}

.about-us-content-img-wrapper {
  justify-self: flex-end;
  align-self: stretch;
  max-width: 40%;
  background-color: #eee;
  max-height: 70vh;
}

.about-us-content-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about-us-written-content {
  font-size: 1.4rem;
  width: 50%;
  padding: 0rem 6rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 4rem 0rem;
}

.about-us-written-content ul li {
  margin-bottom: 0.8rem;
}

.about-us-written-content p:first-child {
  font-weight: bold;
  font-size: 1.6rem;
}
/* rooms info */

#rooms-info {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  padding: 5rem 0rem;
}

#rooms-info p:first-child {
  font-size: 1.7rem;
  font-weight: bold;
}

.rooms-card-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-card {
  width: 16%;
  margin: 4rem;
  background: linear-gradient(to bottom left, rgb(20, 34, 51), rgb(22, 35, 54));
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
}

.room-image {
  width: 100%;
  max-height: 40%;
}

.room-card-content {
  color: rgb(212, 222, 226);
  padding: 2rem;
}

.room-card-heading {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
}

.room-card-paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  color: #bbb;
}

.room-card-btn {
  width: 15rem;
  padding: 1.5rem 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  outline: none;
  border: none;
  color: rgb(35, 43, 92);
  cursor: pointer;
  background: linear-gradient(
    to top right,
    rgb(177, 146, 75),
    rgb(202, 176, 89)
  );
}

.room-card-btn:hover {
  background: linear-gradient(
    to bottom left,
    rgb(177, 146, 75),
    rgb(202, 176, 89)
  );
  box-shadow: 0 0 1.5rem rgba(255, 235, 148, 0.8);
}

.room-card-btn:active {
  transform: translateY(0.2rem);
}

.room-price {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;
}

.rooms-btn-wrapper {
  text-align: center;
}

.rooms-btn {
  width: 20rem;
  padding: 1.5rem 1rem;
  margin: 4rem 0;
  background-color: transparent;
  text-transform: uppercase;
  color: rgb(33, 34, 88);
  border: 0.2rem solid rgb(33, 34, 88);
  outline: none;
  cursor: pointer;
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.rooms-btn:hover {
  color: #ddd;
  background-color: rgb(68, 90, 117);
}

.rooms-btn:active {
  transform: translateY(0.2rem);
}

/* end of rooms info */

/* end of about-us info */

/* ########################################################### */
/* footer */

.footer {
  margin-left: 8rem;
}

.main-part {
  display: flex;
  justify-content: space-between;
  background-color: #141824;
  padding: 4rem;
}

.footer-heading {
  font-size: 2.5rem;
  font-weight: 300;
  color: rgb(221, 169, 127);
  margin: 1rem 0 3rem 0;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list-item {
  margin-bottom: 2rem;
}

.footer-list-item a:hover {
  color: #fff;
}

.footer-list-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #bbb;
}

.contact p {
  font-size: 1.5rem;
  color: #bbb;
  margin-bottom: 4rem;
}

.footer-form {
  display: flex;
}

.footer-input {
  width: 25rem;
  padding: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  color: #444;
  outline: none;
}

.footer-btn {
  padding: 1rem;
  background-color: rgb(221, 169, 127);
  border: none;
}

.gallery {
  max-width: 45rem;
}

.gallery-image-wrapper {
  width: 12rem;
  margin: 0.4rem;
  max-height: 12rem;
  overflow: hidden;
}

.footer-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  transition: all 0.5s;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
}

.footer-image:hover {
  transform: scale(1.3);
  opacity: 0.8;
}

.creator-part {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  padding: 0 4rem;
}

.copyright-text {
  font-size: 1.3rem;
  color: #aaa;
}

/* end of footer */

@media screen and (max-width: 1600px) {
  #rooms-info p:first-child {
    margin: 0 20rem 2rem;
  }
}

@media screen and (max-width: 1500px) {
  .room-card {
    margin: 1rem;
    width: 18%;
  }
}

@media (max-width: 1400px) {
  .main-part {
    flex-direction: column;
  }

  .footer-list {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-list-item {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 1350px) {
  .about-us-content-img-wrapper {
    max-width: 45%;
    margin: 0;
  }
}

@media screen and (max-width: 1300px) {
  .info-heading {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 1120px) {
  .header-logo-img {
    min-width: 27.6rem;
  }

  .header-title {
    font-size: 1.6rem;
  }

  .header-paragraph {
    font-size: 1.4rem;
  }

  .about-us-content {
    padding: 2rem 2rem 2rem 4rem;
  }

  #rooms-info p:first-child {
    margin: 0rem 6rem 3rem;
  }

  .room-card {
    width: 40%;
  }

  .info-heading {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1000px) {
  .header-background-img {
    height: 80vh;
  }
}

@media screen and (max-width: 750px) {
  .header-logo-img {
    min-width: 16rem;
  }

  .header-title {
    font-size: 1.3rem;
  }

  .header-paragraph {
    font-size: 1.2rem;
  }

  .info-select {
    display: flex;
  }

  .info-heading {
    display: none;
  }

  .about-us-content {
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem 4rem 2rem;
  }

  .about-us-written-content {
    width: 100%;
  }

  .about-us-content-img-wrapper {
    align-self: center;
    width: 1000px;
    max-width: 100vw;
  }

  .about-us-content-img {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .room-card {
    width: 75%;
    margin-bottom: 4rem;
  }

  .about-us-written-content {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 550px) {
  .header-title {
    font-size: 1.1rem;
  }

  .header-paragraph {
    font-size: 1rem;
  }

  .header-content {
    padding: 0 1.5rem 4rem 1.5rem;
  }

  .about-us-written-content {
    margin-top: 0.5rem;
  }
}

@media (max-width: 500px) {
  .navigation {
    width: 70%;
  }

  .navigation-search-input {
    width: 83%;
  }

  .header-logo-img {
    display: none;
  }
  
  .header-content {
    top: 0rem;
  }

  .enclosed-logo {
    display: block;
    align-self: center;
    width: 11rem;
    margin: auto;
  }

  .footer-input {
    font-size: 1.5rem;
    width: 12rem;
  }
}

@media screen and (max-width: 400px) {
  .room-card-btn {
    width: 10rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 375px) {
  .navigation {
    width: 70%;
  }

  .enclosed-logo {
    width: 7rem;
  }

  .navigation-search-input {
    width: 75%;
    margin-left: 1rem;
  }

  .header-title {
    font-size: 0.6rem;
    align-items: space-between;
  }

  .copyright {
    font-size: 0.8rem;
  }
}
